@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.detailWrapper {
  min-height: 80vh;
  margin: 0 20px;
  text-align: left;
  background-color: white;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header a {
  height: 50px;
}

.title {
  padding: 20px 30px;
}

.closeButton {
  width: 23px;
  height: 23px;
  margin: 20px;
  background: none;
  border: none;
  appearance: none;
}

.closeButton:hover {
  cursor: pointer;
}

.description {
  width: 70%;
  text-align: left;
  margin: 10px 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hide {
  display: none;
}

.descriptionForm {
  background-color: white;
  display: block;
}

.descriptionInput {
  display: flex;
  width: 70%;
  height: 310px;
  margin: 10px 30px;
  padding: 5px;
  text-align: start;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: white;
  border-radius: 5px;
}

.buttonWrapper {
  margin: 30px;
  text-align: left;
}

.changeButton {
  margin: 30px;
  padding: 5px;
  background-color: rgba(0, 121, 191, 1);
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  color: white;
  border: 0;
  border-radius: 5px;
}

.saveButton {
  margin-right: 15px;
  padding: 5px;
  background-color: rgba(0, 121, 191, 1);
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  color: white;
  border: 0;
  border-radius: 5px;
}

.cancelButton {
  padding: 5px;
  background-color: rgba(163, 164, 168, 0.5);
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  color: black;
  border: 0;
  border-radius: 5px;
}