.menuVisible {
  margin: 0;
  padding: 0;
  width: 134px;
  height: 60px;
  background-color: white;
  color: black;
  position: absolute;
  top: 55px;
  right: 9px;
  text-align: left;
  border-radius: 5px;
}

.menuHidden {
  display: none;
}

.avatarArrow {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 75px;
  bottom: 50px;
}

.menuList {
  list-style-type: none;
}

.menuList li {
  margin: 7px;
}

.menuList li:hover {
  color: blue;
}